body {
    padding: 20px;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: url("Child_Tablet.jpg");
    background-repeat: no-repeat;
  }

p {
    font-family: "Roboto";
    font-size:"15px";
}

h1 {
  font-family: "Roberto";
  font-size: "20px";
}

img {
      display: block;
      margin: auto;
      width: 40%;
}

page-wrap {
     text-align: left;
     width: 800px;
     margin: 0 auto;
}

tree-view {
  background: transparent !important;
}

tree-view-background {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}

.background {
  background-image: url(img/ChildTablet);
  background-size: contain;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  -appearance: button;

  text-decoration: none;
  color: initial;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}